<!DOCTYPE html>
{% extends 'reviews/base.html' %}

{% load staticfiles %}

 {% block body %}
    <h1>CATEGORIES</h1>

<a href="/reviews/action.html"><h3>Action</h3> </a>
<a href="/reviews/actionadventure.html"><h3>Action-Adventure</h3>
<a href="/reviews/adventure.html"><h3>Adventure</h3>
<a href="/reviews/rpg.html"><h3>Role-Playing Game</h3>
<a href="/reviews/simulation.html"><h3>Simulation</h3>
<a href="/reviews/strategy.html"><h3>Strategy</h3>
<a href="/reviews/sports.html"><h3>Sports</h3>
<a href="/reviews/puzzle.html"><h3>Puzzle</h3>
<a href="/reviews/misc.html"><h3>Misc</h3>



{% endblock %}
