<!DOCTYPE html>
{% extends 'reviews/base.html' %}

{% load staticfiles %}

 {% block body %}

    <div>
        {% if game %}
            <h1> {{game.game}}</h1>
	        <p> <img src="{{game.logo.url}}" > <br> Genre: {{game.genre}} <br>
	        Publisher: {{game.publisher}}<br>
	        Developer: {{game.developer}}<br>
   
            {% if reviews %}
                <ul>
                {% for review in reviews %}
                    {{ review.game }}
                {% endfor %}
                </ul>

            {% else %}
                <strong>No reviews currently for this game.</strong>
            {% endif %}
        {% else %}
            The specified game does not exist!
        {% endif %}
        
    </div>

{% endblock %}