<!DOCTYPE html>
{% extends 'reviews/base.html' %}

{% load staticfiles %}

 {% block body %}
    <h1>Welcome to the Game Gauger!</h1>

    <div>
        {% if games %}

            {% for game in games %}
                <a href="/reviews/{{game.UID}}"><img src="{{game.logo.url}}" alt="{{game.game}} image"></a>
                <p><a href="/reviews/{{game.UID}}">{{ game.game }}</p> </a>
            {% endfor %}
        {% else %}
        <strong>There are no games present.</strong>
        {% endif %}

{% endblock %}