<!DOCTYPE html>
{% extends 'reviews/base.html' %}

{% load staticfiles %}

{% block body %}
    {% if user.is_authenticated %}
        <h1>Welcome back, {{ user.username }}!</h1>
    {% else %}
        <h1>Welcome to Game Gauger!</h1>
    {% endif %}

        {% if games %}

            {% for game in games %}
        <a href="/reviews/{{game.slug}}">
                <p style="float: left; font-size: 12pt; text-align: center;
                width: 30%; margin-right: 10%; margin-bottom: 0.5em;">
                <img src="{{game.logo.url}}" width="220" height="300" hspace="20">
                <br />{{ game.game }} <br /></p>
        </a>

            {% endfor %}

        {% else %}
        <strong>There are no games present.</strong>
        {% endif %}

{% endblock %}
