<!DOCTYPE html>
{% extends 'reviews/base.html' %}

{% load staticfiles %}

 {% block body %}
    
    <h1>Login to Game Gauger!</h1>
    <form id="login_form" method="post" action="{% url 'signin' %}">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />
        <input type="submit" name="login" value="Login" />
    </form>

{% endblock %}