<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <title>Sign In</title></title>
</head>
<body>
    <h1>Welcome to the Game Gauger!</h1>
        <div>
        <a href="/reviews/home/">Home</a>
        <a href="/reviews/categories/">Categories</a>
        <a href="/reviews/featured/">Featured</a>
        <a href="/reviews/addgame/">Add Game</a>
        <a href="/reviews/signin/">Sign in/Sign up</a>
    </div>
    <div>
        {% if games %}

            {% for game in games %}
                <img src="{{game.image.url}}" alt="{{game.name}} image">
            {% endfor %}

        {% else %}
        <strong>There are no games present.</strong>
        {% endif %}

    </div>

    <div>
        <a href="/reviews/about/">About</a><br />
    </div>

</body>
</html>